.icon-menu {
  font-size: 3em;
  float: right;
}

.main-nav {
  display: inline-block;
  float: right;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.header {
  display: inline-block;
  float: left;
}

.project-header, .project-description {
  margin: 2%;
}

article ul {
  display: inline-block;
  padding-left: 0;
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;;
}

#tech {
  display: inline-block;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }
  .header {
    display: block;
    float: none;
    text-align: center;
  }
  .main-nav {
    display: block;
    float: none;
    margin: auto;
    padding: 0.5em;
    text-align: center;
  }
  .main-nav ul {
    display: inline;
    margin: auto;
    }
  .main-nav:hover ul {
    display: inline;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .desktop-view {
    width: 30%;
  }

}
